@import "../../scss/repeat.scss";
@import "../../scss/colors.scss";

.button {
  @extend %button;

  width: 100%;
  height: 48px;
  border-radius: 4px;
  background-color: $mainBlue;

  transition: all 0.2s ease;
  &:hover {
    background-color: darken($mainBlue, 10%);
  }

  span {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
}
